*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1200px;
}
.scroll{
    background-color: white;
    transition: 0.2s ease;
}



@import 'header';
@import 'nav';
@import 'menu';
@import 'section';
@import 'main';
@import 'cards';